<app-divider>
    Table Component
</app-divider>
<app-table [data]="data" [headers]="headers" [addClass]="addClass"></app-table>
<app-divider>
    Tabs Component
</app-divider>
<app-tabs>
    <a routerLink="./" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" class="item">
        Biograpghy
      </a>
      <a routerLink="./companies" routerLinkActive="active" class="item">
        Companies
      </a>
      <a routerLink="./partners" routerLinkActive="active" class="item">
        Partners
      </a>
</app-tabs>

